PORT=5001
MONGO_URI=your_mongo_uri_here
JWT_SECRET=your_jwt_secret_here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email_here
SMTP_PASS=your_gmail_app_password_here
SENDER_EMAIL=your_email_here
